<html>
    <head>
        <link rel="stylesheet" href="/static/css/base.css">
        <title> BookShare - {% block title %}Page{% endblock %}</title>
    </head>

    <body>
        <ul id = "nav">
            {% for item in nav_items %}
                {% if item.context %}
                    <li> <a href = "{% url item.url item.context %}"> {{item.name}} </a></li>
                {% else %}
                    <li> <a href = "{% url item.url %}"> {{item.name}} </a></li>
                {% endif %}
            {% endfor %}
        </ul>

        {% block content %}
            Empty Page
        {% endblock %}
    </body>

</html>