{% extends 'bookShare/base.html' %}
{% load staticfiles %}

{% block title %}
    Book Info
{% endblock %}
{%block javascript%}
<script>
    var bookId = '{{book.book_id}}';
    var isInterested = {{interested|lower}};
</script>
<script src = {% static 'js/ajax-register-interest.js' %}></script>
{%endblock%}
{% block content %}
    <div class="w-5/12 shadow-lg rounded-xl p-11 my-5">
         <h1 class="text-5xl font-semibold text-black mb-11 text-center">{{book.title}}</h1>
    
    {% if book.cover_image %}
        <img src="{{book.cover_image.url}}" height = 200px width = 200px> </img><br/>
    {% else %}
        <img src="{% static 'images/default_book.jpg' %}" height = 200px width = 200px> </img><br/>
    {% endif %}
    Author: {{book.author}}<br/>
    Publisher: {{book.publisher}}<br/>
    ISBN: {{book.isbn}}<br/>
    Genre: {{book.genre}}<br/>
    Uploaded: {{book.upload_time}} by <a href = "{% url 'bookShare:profile' book.user_profile.user.username %}">{{book.user_profile.user.username}}</a><br/><br/>
    Reserved: {% if book.is_reserved %} Yes {%else%} No {%endif%} <br/><br/>
    {% if user.username == book.user_profile.user.username %}
        <a href = "{% url 'bookShare:edit_book' book.book_id %}" class="btn-primary mb-6"> Edit </a><br/><br/>
        
        {% if not book.is_reserved %}
            <button class="btn-primary mb-6" id="view-interest-users">View Interested Users</button>

            <table id = "interested-users" class = "hidden">
                <tr> 
                    <th> User </th>
                    <th> Email </th>
                    <th> Phone Number </th>
                    <th> Reserve? </th>
                </tr>

                {% for user in interested_users %}
                    <tr>
                        <td>
                            <img src="{%if user.user_profile.user_image%} {{user.user_profile.user_image.url}} {%else%} {% static 'images/default_pfp.jpg' %} {%endif%}" height = "40px" width = "40px"> <a href ="{% url 'bookShare:profile' user.user_profile.user.username %}">{{user.user_profile.user.username}}</a>
                        </td>
                        <td> {{user.user_profile.user.email}} </td>
                        <td> {% if user.user_profile.phone_number %} {{user.user_profile.phone_number}} {% else %} N/A {% endif %} </td>
                        
                        <td> <a href = "{% url 'bookShare:accept_interest' book.book_id user.user_profile.user.username %}" class="btn-primary mb-6"> Reserve </a> </td>
                    </tr>
                {% endfor %}

            </table>
        {% else %}
            Book is reserved for:
            
            <img src="{%if book.reserved_user.user_image%} {{book.reserved_user.user_image.url}} {%else%} {% static 'images/default_pfp.jpg' %} {%endif%}" height = "40px" width = "40px"> 
            <a href ="{% url 'bookShare:profile' book.reserved_user.user.username %}">{{book.reserved_user.user.username}}</a><br/>
            {{book.reserved_user.user.email}} <br/>
            {% if book.reserved_user.phone_number %} {{book.reserved_user.phone_number}} {% else %} No phone number available. {% endif %} <br/>
            <a href = "{% url 'bookShare:accept_interest' book.book_id book.reserved_user.user.username %}" class="btn-primary mb-6"> Unreserve </a>
        {% endif %}

    {% elif user.is_authenticated and interested != "invalid" %}
        <button class="btn-primary mb-6" id = "change-interest-button">{% if interested %}Remove Interest{% else %}Register Interest{% endif %}</button>
    {% endif %}
{% endblock %}
