{% extends 'bookShare/base.html' %}
{% load staticfiles %}

{% block title %}
    Book Info
{% endblock %}

{% block content %}
    <div class="w-5/12 shadow-lg rounded-xl p-11 my-5">
         <h1 class="text-5xl font-semibold text-black mb-11 text-center">{{book.title}}</h1>
    
    {% if book.cover_image %}
        <img src="{{book.cover_image.url}}" height = 200px width = 200px> </img><br/>
    {% else %}
        <img src="{% static 'images/default_book.jpg' %}" height = 200px width = 200px> </img><br/>
    {% endif %}
    Author: {{book.author}}<br/>
    Publisher: {{book.publisher}}<br/>
    ISBN: {{book.isbn}}<br/>
    Genre: {{book.genre}}<br/>
    Uploaded: {{book.upload_time}} by <a href = "{% url 'bookShare:profile' book.user_profile.user.username %}">{{book.user_profile.user.username}}</a><br/><br/>
   
    {% if user.username == book.user_profile.user.username %}
        <a href = "{% url 'bookShare:edit_book' book.book_id %}" class="btn-primary mb-6"> Edit </a>
    {% elif user.is_authenticated and interested != "invalid" %}
        {%  if interested %}
            <a href = "{% url 'bookShare:remove_interest' book.book_id %}" class="btn-primary mb-6"> remove interest </a>
        {% else %}
            <a href = "{% url 'bookShare:add_interest' book.book_id %}" class="btn-primary mb-6"> register interest </a>
        {% endif %}
    {% endif %}
{% endblock %}
