{% extends 'bookShare/base.html' %}

{% load staticfiles %}

{% block title %}Browse{% endblock %}
{% block javascript %}
    <script src = {% static 'js/ajax-browse-general-query.js' %} type="module"></script>
    <script type = "module"> import { setupFilterSearch } from "{% static 'js/ajax-browse-general-query.js' %}"; window.setupFilterSearch = setupFilterSearch; </script>
{% endblock %}
{% block content %}
    <div id="search_box_wrapper"
         class="flex w-full justify-center py-5 md:py-20">
        {% include 'bookShare/components/search_bar.html' with show_button="True" label="Search" form_id="book_search_form" input_id="general_query_field" placeholder="Title, ISBN, Author, etc..." %}

    </div>
    <div class="flex gap-10 flex-col md:flex-row">
        <div id="search_sidebar" class="w-full md:w-[300px]">
            <h1 class="text-xl leading-0 md:leading-10 align-middle mb-5 md:mb-10">Filter Books</h1>
            <form id="filter_search_form" enctype="multipart/form-data">
                {% for type, values in dropdowns.items %}
                    <div class="pb-2">
                        <button data-dropdown-type="{{ type }}"
                                data-dropdown-class="dropdownCheckbox"
                                class="dropdownCheckboxButton capitalize w-full text-gray-900 bg-gray-50 hover:bg-gray-100  font-semibold text-md px-4 py-2.5 text-center inline-flex items-center justify-between"
                                type="button">
                            {{ type }}
                            <svg class="w-4 h-4 ml-2"
                                 aria-hidden="true"
                                 fill="none"
                                 stroke="currentColor"
                                 viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div id="{{ type }}_dropdownCheckbox"
                             class="{% if forloop.counter > 1 %}hidden{% endif %}">
                            <ul class="w-full  text-sm font-medium text-gray-900 bg-white border border-gray-50">
                                {% for value in values %}
                                    <li class="w-full border-b border-gray-200">
                                        <div class="flex items-center pl-3">
                                            <input id="{{ type }}_query_field"
                                                   type="checkbox"
                                                   value="{{ value.0 }}"
                                                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 ">
                                            <label for="{{ type }}_{{ value.0 }}"
                                                   class="w-full py-3 ml-2 text-sm font-medium text-gray-900">{{ value.0 }} <span class="text-xs text-gray-400">({{ value.1 }})</span></label>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                <div class="pb-5">
                    <button data-dropdown-type="max_radius"
                            data-dropdown-class="dropdownCheckbox"
                            class="dropdownCheckboxButton capitalize w-full text-gray-900 bg-gray-50 hover:bg-gray-100  font-semibold text-md px-4 py-2.5 text-center inline-flex items-center justify-between"
                            type="button">
                        Max Distance
                        <svg class="w-4 h-4 ml-2"
                             aria-hidden="true"
                             fill="none"
                             stroke="currentColor"
                             viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </button>
                    <div id="max_radius_dropdownCheckbox">
                        <label class="block">
                            <span id="postcode_label" class="block text-sm font-medium text-slate-700 ">Postcode:</span>
                            <input type="text"
                                   id="postcode_field"
                                   name="postcode"
                                   class="input"
                                   placeholder="{{ user_postcode|default:'' }}"
                                   onkeyup="$(this).val($(this).val().toUpperCase())"/>
                        </label>
                        <label class="block">
                            <span class="block text-sm font-medium text-slate-700">Max distance: (km)</span>
                            <input type="number"
                                   id="max_radius_query_field"
                                   name="max_radius_query"
                                   class="input"
                                   placeholder="50"
                                   onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode < 32">
                            </input>
                        </label>
                    </div>
                </div>
                <div id="available_only_box">
                    <label class="relative inline-flex items-center cursor-pointer">
                        <input type="checkbox"
                               id="available_only_field"
                               name="available_only"
                               value=""
                               class="sr-only peer">
                        <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none  rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all  peer-checked:bg-blue">
                        </div>
                        <span class="ml-3 text-md font-medium text-gray-900">Available only</span>
                    </label>
                </div>
                {% if user.is_authenticated %}
                    <div id="following_only_box">
                        <label class="relative inline-flex items-center cursor-pointer">
                            <input type="checkbox"
                                   id="following_only_field"
                                   name="following_only"
                                   value=""
                                   class="sr-only peer">
                            <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none  rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all  peer-checked:bg-blue">
                            </div>
                            <span class="ml-3 text-md font-medium text-gray-900">Following only</span>
                        </label>
                    </div>
                    <div id="mine_only_box">
                        <label class="relative inline-flex items-center cursor-pointer">
                            <input type="checkbox"
                                   id="mine_only_field"
                                   name="mine_only"
                                   value=""
                                   class="sr-only peer">
                            <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none  rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all  peer-checked:bg-blue">
                            </div>
                            <span class="ml-3 text-md font-medium text-gray-900">My Listings only</span>
                        </label>
                    </div>
                    <div id="reserved_for_me_only_box">
                        <label class="relative inline-flex items-center cursor-pointer">
                            <input type="checkbox"
                                   id="reserved_for_me_only_field"
                                   name="reserved_for_me_only"
                                   value=""
                                   class="sr-only peer">
                            <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none  rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all  peer-checked:bg-blue">
                            </div>
                            <span class="ml-3 text-md font-medium text-gray-900">Reserved for Me</span>
                        </label>
                    </div>
                {% endif %}
            </form>
        </div>
        <div class="pl-5 py-0 pt-20 md:py-20 flex-1 relative"
             id="results_container_wrapper">
            <div class="absolute top-0 right-0" id="sort_wrapper">
                <form id="sort_form" enctype="multipart/form-data">
                    <select name="sort" id="sort_field">
                        <option value="az">
                            A - Z
                        </option>
                        <option value="za">
                            Z - A
                        </option>
                        <option value="closest_first">
                            Closest
                        </option>
                        <option value="furthest_first">
                            Furthest
                        </option>
                        <option value="newest_first">
                            Newest First
                        </option>
                        <option value="oldest_first">
                            Oldest First
                        </option>
                        <option value="lowest_reputation_first">
                            Lowest Reputation First
                        </option>
                        <option value="highest_reputation_first">
                            Highest Reputation First
                        </option>
                    </select>
                </form>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-5 gap-y-10 lg:gap-10"
                 id="results_container"></div>
        </div>
    </div>
{% endblock %}
