{% extends 'bookShare/base.html' %}
{% load staticfiles %}

{% block title %}
    Browse
{% endblock %}

{% block content %}
<section id="search_box_wrapper">
    <div id="search_box">
        <form id="book_search_form" method="post" action="{% url 'bookShare:browse' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="submit" name="submit" value="Search">
            <input type="text" id="query_text_field" name="query_text">
        </form>
    </div>
</section>
<section id="main">
    <div id="search_sidebar">

    </div>
    <div id = "results_pane">
        {% if results %}
            {% for result in results %}
                <div class="book_result">
                    <div class="genre_bar">
                        <p class="genre">{{ result.genre }}</p>
                    </div>
                    <a href = "{% url 'bookShare:book_info' result.book_id %}">
                    {% if result.cover_image %}
                        <img class = "result_image" src = "{{ result.cover_image.url }}" alt = "{{ result.title}} by {{ result.author }}" height = 400px width = 400px/><br/>
                    {% else %}
                        <img src = "{% static 'images/default_book.jpg' %}" alt = "{{ result.title}} by {{ result.author }}" height = 400px width = 300px /><br/>
                    {% endif %}
                    
                    {% if book.is_reserved == False %}
                    {% endif %}
                    
                    </a>
                    
                    <h2><a href = "{% url 'bookShare:book_info' result.book_id %}">{{ result.title }}</a></h2><br/>
                    <h4>{{ result.author }}</h4><br/>

                    <div class = "user_info_bar">
                        <p>Listed {{ result.upload_time|date:"d/m/Y" }}</p>
                        <a href = "{% url 'bookShare:profile' result.user_profile.user.username %}">
                        {% if result.user_profile.user_image %}
                            <img src = "{{result.user_profile.user_image.url}}" alt = "{{result.user_profile.user.username}}" height = 50px width = 50px />
                        {% else %}
                            <img src = "{% static 'images/default_pfp.jpg' %}" alt = "{{result.user_profile.user.username}}" height = 50px width = 50px />
                        {% endif %}
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            No books found.
        {% endif %}
    </div>
</section>
{% endblock %}
