{% extends 'bookShare/base.html' %}
{% load staticfiles %}

{% block title %}
    Browse
{% endblock %}

{% block javascript %}
<script src = {% static 'js/ajax-browse-general-query.js' %}></script>
{% endblock %}

{% block content %}
<section id = "search_box_wrapper">
    <div id = "search_box">
        <form id = "book_search_form" enctype = "multipart/form-data">
            <input class = "w-8 h-8 bg-contain search_submit" type = "submit" name = "submit" value = ""></input>
            <input type = "text" id = "general_query_field" name = "general_query">
        </form>
    </div>
</section>
<section id="main">
    <div id = "search_sidebar">
        <h1>Filter Books</h1>

        <form id = "filter_search_form" enctype = "multipart/form-data">
            <div class = "filter_box">
                <h2> Genre <span class = "open_indicator">&#9660</span></h2>
                <div class = "collapsible">
                    <input type = "text" id = "genre_query_field" name="genre_query">
                </div>
            </div>

            <div class = "filter_box">
                <h2> Publisher <span class = "open_indicator">&#9660</span></h2>
                <div class = "collapsible">
                    <input type = "text" id = "publisher_query_field" name="publisher_query">
                </div>
            </div>

            <div class = "filter_box">
                <h2> Author <span class = "open_indicator">&#9660</span></h2>
                <div class = "collapsible">
                    <input type = "text" id = "author_query_field" name = "author_query">
                </div>
            </div>

            <div class = "filter_box">
                <h2> Maximum Distance <span class = "open_indicator">&#9660</span></h2>
                <div class = "collapsible">
                    Your Postcode: <input type = "text" id = "postcode_field" name = "postcode" onkeyup="$(this).val($(this).val().toUpperCase())"><span id = "valid_postcode"></span><br/>
                    Distance <input type = "number" id = "max_radius_field" name = "max_radius" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode < 32">
                </div>
            </div>

            <div class = "filter_box">
                <h2> Available Only <span class = "open_indicator">&#9660</span></h2>
                <div class = "collapsible">
                    <input type = "checkbox" id = "available_only_field" name = "available_only" value = "true">
                </div>
            </div>

            <input class = "w-8 h-8 bg-contain search_submit" type = "submit" name = "submit" value = ""></input>
        </form>
    </div>

    <div id = "results_container_wrapper">
         <div id = "sort_wrapper">
            <form id = "sort_form" enctype = "multipart/form-data">
                <select name = "sort" id = "sort_field">
                    <option value = "az">A - Z</option>
                    <option value = "za">Z - A</option>
                    <option value = "closest_first">Closest</option>
                    <option value = "furthest_first">Furthest</option>
                    <option value = "newest_first">Newest First</option>
                    <option value = "oldest_first">Oldest First</option>
                    <option value = "lowest_reputation_first">Lowest Reputation First</option>
                    <option value = "highest_reputation_first">Highest Reputation First</option>
                </select>
            </form>
        </div>
        
        <div id = "results_container"></div>
    </div>
</section>
{% endblock %}
