{% extends 'bookShare/base.html' %}
{% load staticfiles %}

{% block title %}
Edit Profile
{% endblock %}

{% block content %}
<div class="flex justify-center items-center w-full">
    <div class="w-5/12 shadow-lg rounded-xl p-11 my-5">
         <h1 class="text-5xl font-semibold text-black mb-11 text-center">Edit Profile</h1>
            {% if user.is_authenticated and user.username == user_id %}
        <form id="user_form" method="post" action="{% url 'bookShare:edit_profile' user.username %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex flex-col gap-4 mb-6">
                    {% for item in profile_form %}
                        <label class="block">
                            <span class="block text-sm font-medium text-slate-700 {% if item.field.widget.required %}after:content-['*'] after:ml-0.5 after:text-red-500{% endif %}">{{ item.label }}</span>
                            <input type={{ item.field.widget.input_type }} name={{ item.html_name }} class="input" placeholder="{{ item.field.widget.attrs.placeholder|default:"Placeholder" }}" />
                            {% if item.help_text %}<p class="help text-sm">{{ item.help_text|safe }}</p>{% endif %}
                        </label>
                    {% endfor %}
            <input type="submit" class="btn-primary mb-6" name="submit" value="Update" />
        </form>
{% endif %}

{% endblock %}