{% extends 'bookShare/base.html' %}
{% load staticfiles %}

{% block title %}
    {{interested}} User(s) are interested in this book
{% endblock %}

{% block content %}
<br/>

{{interested}} User(s) are interested in this book
{% if results %}<br/>
    <ul>
        {% for result in results %}
            <li>
                <a href = "{% url 'bookShare:profile' result.user.username %}">{{result.user.username}}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <br>
    No users found.
{% endif %}
{% endblock %}
