{% extends 'bookShare/base.html' %}

{% block title %}Login{% endblock %}
{% block content %}
    {% include "bookShare/components/card_start.html" with card_title="Login" %}

    <form id="user_form"
          method="post"
          action="{% url 'bookShare:login' %}"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="flex flex-col gap-4 mb-6">
            {% include "bookShare/components/input.html" with type="text" name="username" label="Username" required=True placeholder="username123" %}
            {% include "bookShare/components/input.html" with type="password" name="password" label="Password" required=True placeholder="*******" %}

        </div>
        <input role="button" class="btn-primary mb-6" type="submit" name="submit" />

        {% if error_msg %}
            <br/>
            <b> Login Failed! </b><br/> {{error_msg}} <br/><br/>
        {% endif %}
    </form>
    <span class="inline">Don't have an account?</span>
    <a class="inline font-semibold text-blue hover:text-blue-900"
       href="{% url 'bookShare:register' %}">Register here</a>
    {% include "bookShare/components/card_end.html" %}

{% endblock %}
