{% extends 'bookShare/base.html' %}

{% load staticfiles %}

{%block title%}
{{profile.user.username}}
{%endblock%}

{% block javascript %}
<script>
    var isFollowing = {{is_following|lower}}
    var username = '{{profile.user.username}}'
</script>
<script src = {% static 'js/ajax-follow.js' %}></script>
{% endblock %}

{% block content %}
    
    {% include "bookShare/components/card_start.html" with card_title=profile.user.username %}
    
    <div class="text-center sm:text-right flow-root flex flex-col gap-4 mb-6">
        <img class = "shadow-xl mb-4 sm:mb-0 ml-6 sm:ml-2 sm:mr-12 sm:inline-block block sm:float-left  w-[175px] h-[175px] sm:w-[200px] sm:h-[200px]" src="{%if profile.user_image%}{{profile.user_image.url}}{%else%}{% static 'images/default_pfp.jpg' %}{%endif%}"> </img>
       
        <div class="sm:float-right sm:ml-4 sm:ml-0" id = "location">
            <span class = "text-xs">Location</span>
            <p class="text-lg sm:ml-4 "><b>{{profile.location}}</b></p>
        </div><br/>
        <div class="sm:float-right sm:ml-4 sm:ml-0" id = "listings-posted">
            <span class = "text-xs">Total Listings</span><br/>
            <p class="text-lg sm:ml-4"><b>{{profile.reputation}}</b></p>
        </div><br/>
        <div class="sm:float-right sm:ml-4 sm:ml-0" id = "join-date">
            <span class = "text-xs">Joined Date</span><br/>
            <p class="text-base sm:ml-4"><b>{{profile.joined_date}}</b></p>
        </div><br/>
        <div class="float-left" id="button" class="sm:float-left block sm:ml-8 mt-5">
            {% if user.username == profile.user.username %}
                <a class="btn-primary ml-12 sm:ml-0 mb-6 text-center" href = "{% url 'bookShare:edit_profile' user.username %}"> Edit </a>
            {% elif user.is_authenticated and is_following != "invalid" %}
                <button class="btn-primary mb-6 text-center" id = "change-follow-button">{% if is_following %}Unfollow{% else %}Follow{% endif %}</button>
            {% endif %}
        </div>
        <div class="block float-left w-full mb-3" id = "lower-content">
            <hr class = "mt-7 sm:mt-14 mb-3">
            <div class="sm:ml-20 ml-4 block float-left" id = "following">
                <span class = "text-xs">Following</span><br/>
                <span class="text-3xl sm:ml-4"><b><a id = "following-count"  href = "{% url 'bookShare:following' profile.user.username %}"> {{following|length}} </a> </b></span>
            </div>
            <div class = "block float-right mr-4 sm:mr-20" id = "followers">
                <span class = "text-xs">Followers</span><br/>
                <span class="text-3xl sm:ml-4"><b><a id = "follower-count"  href = "{% url 'bookShare:followers' profile.user.username %}"> {{followers|length}} </a> </b></span>
            </div>
        </div>
        <hr class = "mt-14 w-full mb-8">
        <div class="w-full h-full">
            {% include "bookShare/components/map.html" %}
        </div>
    </div>
    {% include "bookShare/components/card_end.html" %}


{% endblock %}
