{% extends 'bookShare/base.html' %}
{% load staticfiles %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
    <h1>{{ profile.user.username }}</h1>
    <img src="{{profile.user_image.url}}" height = 200px width = 200px> </img><br/>
    Location: {{profile.location}} <br/>
    Total Listings: {{profile.reputation}}
    <br/><br/>
    Joined Date: {{profile.joined_date}} <br/>
    Following: {{following|length}} <br/>
    {% if user.username == profile.user.username %}
        <a href = "{% url 'bookShare:edit_profile' user.username %}"> Edit </a>
    {% endif %}
{% endblock %}
