{% extends 'bookShare/base.html' %}

{% load staticfiles %}

{% block javascript %}
<script>
    var isFollowing = {{is_following|lower}}
    var username = '{{profile.user.username}}'
</script>
<script src = {% static 'js/ajax-follow.js' %}></script>
{% endblock %}

{% block content %}
    <h1>{{ profile.user.username }}</h1>
    {% if profile.user_image %}
        <img src="{{profile.user_image.url}}" height = "200px" width = "200px"> </img><br/>
    {% else %}
        <img src="{% static 'images/default_pfp.jpg' %}" height = "200px" width = "200px"> </img><br/>
    {% endif %}
    Location: {{profile.location}} <br/>
    Total Listings: {{profile.reputation}}
    <br/><br/>
    Joined Date: {{profile.joined_date}} <br/>
    <a id = "following-count" href = "{% url 'bookShare:following' profile.user.username %}"> Following: {{following|length}} </a> <br/>
    <a id = "follower-count" href = "{% url 'bookShare:followers' profile.user.username %}"> Followers: {{followers|length}} </a> <br/>
    {% if user.username == profile.user.username %}
        <a href = "{% url 'bookShare:edit_profile' user.username %}"> Edit </a>
    {% elif user.is_authenticated and is_following != "invalid" %}
        <button class="btn-primary mb-6" id = "change-follow-button">{% if is_following %}Unfollow{% else %}Follow{% endif %}</button>
    {% endif %}<br/>
    {% include "bookShare/components/map.html" %}

{% endblock %}
