{% extends 'bookShare/base.html' %}
{% load staticfiles %}

{% block title %}
    {{display_name}}
{% endblock %}

{% block content %}
<br/>

{% include "bookShare/components/card_start.html" with card_title=display.name%}

{% if results %}<br/>
    <ul>
        {% for result in results %}
            <li>
                <a href = "{% url 'bookShare:profile' result.user.username %}">{{result.user.username}}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    No users found.
{% endif %}

{% include "bookShare/components/card_end.html" %}
{% endblock %}
