{% extends 'bookShare/base.html' %}
{% load staticfiles %}

{% block title %}
    User Search
{% endblock %}

{% block javascript %}
<script>
    var csrftoken = '{{ csrf_token }}';
</script>
<script src = {% static 'js/ajax-search.js' %}></script>
{% endblock %}

{% block content %}
<br/>
<form id="user_search_form" method="post" action="{% url 'bookShare:user_search' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" id="user-search-input" name="username"><br>
</form>
Results:<br/>
<ul id = "results-container">
    <li> Enter text to start searching! </li>
</ul>
{% endblock %}
