{% load static %}

<header class="container py-[15px]">
  <div class="flex justify-between content-center">
    <a class="block" href="{% url 'bookShare:browse' %}">
      <img class="h-[90px]"
           src="{% static 'images/logo-transparent.png' %}"
           alt="Logo">
    </a>
    <nav class="flex items-center">
      <ul class="flex items-center gap-10 text-xl text-black">
        <li>
          <a href="{% url 'bookShare:browse' %}">Browse</a>
        </li>
        <li>
          <a href="{% url 'bookShare:add_book' %}">Add Listing</a>
        </li>
        <li>
          <a href = "{% url 'bookShare:user_search' %}">Search User</a>
        </li>
        <li class=" border-l-[1px] border-gray">
          <div class="pl-10 flex items-center gap-5">
            {% if user.is_authenticated %}
              <a href="{% url 'bookShare:logout' %}">Logout</a>
            {% else %}
              <a href="{% url 'bookShare:login' %}">Login</a>
            {% endif %}
            {% if user.is_authenticated %}
              {% include "bookShare/components/button.html" with label="Profile" url="bookShare:profile" %}

            {% else %}
              {% include "bookShare/components/button.html" with label="Sign up" url="bookShare:register" %}

            {% endif %}
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
