{% load staticfiles %}

<div class="shadow-md rounded-lg ">
    <a class="w-full block relative h-[250px] bg-gray-50 rounded-t-lg"
       href="{% url 'bookShare:profile' username %}">
        <img class="absolute top-0 left-0 w-full h-full object-contain z-0" src={% if image_url != "none" %}{{ image_url }}{% else %}"{% static 'images/default_pfp.jpg' %}"{% endif %} />
    </a>
    <div class="px-5 py-4 relative">
        <a class="block font-semibold text-xl mb-1"
           href="{% url 'bookShare:profile' username %}">{{ username }}</a>
        <p class="text-gray-600">{{ location }}</p>
    </div>
</div>
